body
{
    position:relative;
    margin:0 auto; /* centers */
    width: 800px;
}

#content
{
    background-color: #EEEEEE;
    border:1px solid gray;
    padding:10px;
}

#navbar
{
    height:30px;
    margin:0 auto;
}

#navbar ul
{
    list-style-type:none;
    padding:0;
}

#navbar li
{
    float:left;
    display:block;
    width:90px;
}

#navbar a
{
}

