body
{
    font-size:90%;
}

#container
{
    /*
    position:relative;
    margin:0 auto; /* centers */
    /*
    padding:0;
    width: 80%;
    */
    font-family: Verdana, Helvetica, Arial, sans-serif;
    /* for dev */
    /* border:1px solid black; */
}

#navbar
{
    /* for dev */
    /* border:1px solid black; */
}

#nav
{
    list-style-type:none;
    margin-top:1em;
    text-align:center;
    /* consider adding overflow:hidden */
}

#nav a
{
    display:block;
    /*width:10em;*/
    font-size:15px;
    text-decoration:none;
    color: black;
}

#nav a:hover
{
}


#nav li
{
    float:left;
    position:relative;
    width:100px;
    /* display:inline;*/
    /*
    padding: 2.2% 2.4%;
    text-align: center;
    width:10em;
    text-transform: uppercase;
    */
}

#nav li:hover
{
    background-color:#DCDCDC;
}

#navsub
{
    visibility:hidden;
    position:absolute;
    z-index:1;
    background-color:#DCDCDC;
}

#navsub li
{
    display:block;
    left:-11px;
    text-align:left;
}

#navsub li:hover
{
    background-color:#BBB;
}

#nav li:hover ul
{
    visibility:visible;
    /*
    left:auto;
    position: absolute;
    */
}

#header
{
    /* for dev */
    /* border:1px solid black; */
}

#content
{
    /* for dev */
    /* border:1px solid black; */
}
