body
{
    font-size:90%;
}

#container
{
    /*
    position:relative;
    margin:0 auto; /* centers */
    /*
    padding:0;
    width: 80%;
    */
    font-family: Verdana, Helvetica, Arial, sans-serif;
    /* for dev */
    /* border:1px solid black; */
}

#navbar
{
    /* for dev */
    /* border:1px solid black; */
}

#nav
{
    list-style-type:none;
    margin-top:1em;
    text-align:center;
    /* consider adding overflow:hidden */
}

#nav a
{
    display:block;
    /*width:10em;*/
    font-size:15px;
    text-decoration:none;
    color: black;
}

#nav a:hover
{
}



#nav li
{
    float:left;
    position:relative;
    width:100px;
    padding: 1.2% 0%;
    /* display:inline;*/
    /*
    padding: 2.2% 2.4%;
    text-align: center;
    width:10em;
    text-transform: uppercase;
    */
}

#nav li:hover
{
    background-color:#E0E0E0;
}

#navsub
{
    visibility:hidden;
    position:absolute;
    z-index:1;
    background-color:#FFFFFF;
    border: 1px solid #E0E0E0;
    margin: 11% 0% 0%;
}

#navsub li
{
    display:block;
    left:-22px;
    text-align:left;
    padding: 4.2% 10.9%;

}

#navsub li:hover
{
    background-color:#EFEFEF;
}

#nav li:hover ul
{
    visibility:visible;
    /*
    left:auto;
    position: absolute;
    */
}

#header
{
    position:relative;
}

#header h1
{
    /* for dev */
    /* border:1px solid black; */
    color:#333;
    text-align:left;
    opacity:1.0;
    font-size:4em;
    position:relative;
    left:2px;
}

#headerbar
{
    width:950px;
    height:61px;
    position:absolute;
    top:118px;
    background-color:#CCC;
    z-index:1;
    /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
}

#content
{
    min-height:427px; /* match facebook widget at the least */
}

/* CSS for Nivo slider */

#slider {
    position:relative;
    width:950px; /* Change this to your images width */
    height:200px; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
    z-index:0;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}
