<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <title>
            {% block title %}Home |{% endblock %} Appalachia Rising
        </title>
    </head>


    <body>
    <div class="container">
        <div class="span-24 last" id="navbar">
            <ul id="nav">
                {% load wes_tags %}
                {% get_nav_list %}
                {% for item in nav_list %}
                <li>
                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                    {% if item.sub_pages.all %}
                        <ul id="navsub">
                        {% for subpage in item.sub_pages.all %}
                        <li><a href="{{ subpage.get_absolute_url }}">{{ subpage.title }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <div class="span-24 last" id="header">
            <h1>Appalachia Rising</h1>
        </div>
        <hr>
        <div class="span-24" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>
